        <ul class="" >
        <div class="titulo-menulat"><h4>Menú de opciones</h4></div>
           <li><a href="{{path('advertiser_panel')}}" title=""><span class=""></span> Inicio</a></li>
           <li ><a href="{{path('publish_ad')}}" title=""><span class="glyphicon glyphicon-tags"></span>  Publicar</a></li>
           <li ><a href="{{path('advertiser_register')}}"  title=""><span class="glyphicon glyphicon-edit"></span>  Actualizar mis datos</a></li>
           <li ><a href="{{path('advertiser_register')}}"  title=""><span class="glyphicon glyphicon-eye-open"></span> Ver mis publicaciones</a></li>
           <li ><a href="{{path('advertiser_register')}}"  title=""><span class="glyphicon glyphicon-lock"></span> Cambiar contraseña</a></li>
           <li ><a href="{{path('advertiser_register')}}"  title=""><span class="glyphicon glyphicon-question-sign"></span> Ayuda</a></li>
        </ul>
