{% extends 'CommercialAdsUserBundle:Default:user.html.twig' %}

{% block title %} Reset password {% endblock %}

{%block user%}
  <div class="box-login contorno">
    <div class="titulo-menulat"><h4>Ingrese su nueva contraseña</h4></div>
    {% if  error %}
    <div class="error-form">{{ error| trans }}</div>
    {% endif %}
    <form action="{{action == 'insidePass'? path('user_reset_pass_default') : path('user_reset_password', {'token': token})}}" {{form_enctype(formulario)}} class="form-login" method="POST" data-validate="parsley">
           {{action == 'insidePass'? null : form_label(formulario.password, 'Contraseña')}}
           {{action == 'insidePass'? null : form_widget(formulario.password, {'value':'','type':'password', 'attr': {'class':'form-control width-login ', 'data-parsley-trigger':'change', 'required':'true', 'data-parsley-type':'alphanum'} }) }}
           {%if action == 'insidePass'%}
            <div class="error-form">{{ form_errors(formulario.oldPassword) }}</div>
            {{form_label(formulario.oldPassword, 'Contraseña actual')}}
           {{form_widget(formulario.oldPassword, {'attr': {'class':'form-control width-login ', 'data-parsley-trigger':'change', 'required':'true', 'data-parsley-type':'alphanum'} }) }}
           {{form_label(formulario.password, 'Contraseña nueva')}}
           {{form_widget(formulario.password, {'attr': {'class':'form-control width-login ', 'data-parsley-trigger':'change', 'required':'true', 'type':'alphanum'} }) }}
      <!--     <label for="login_pass" class="label-login">Contraseña actual</label>
           <input id="password" type="password" name="password" class="form-control width-login" id="passwordRe" data-trigger="change" data-required="true" data-type="alphanum"/>   
           <label for="login_pass" class="label-login">Contraseña nueva</label>
           <input id="usuariotype_password" type="password" name="usuariotype_password" class="form-control width-login" id="passwordRe" data-trigger="change" data-required="true" data-type="alphanum"/>   
    -->       {%endif%}
           <label for="login_pass" class="label-login">Repetir Contraseña</label>
           <input id="passwordRe" type="password" name="passwordRe" class="form-control width-login" id="passwordRe" data-parsley-trigger="change" required="true" data-parsley-equalto="#usuariotype_password" data-parsley-type="alphanum"/>   
           <input type="submit" class="btn btn-success" value="Guardar"/> ó <a href="{{path('advertiser_panel')}}">Cancelar</a>
    </form>
  </div>
{%endblock%}